<!-- 
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Nguyen A Luy, Le Trung Kien, Trinh Xuan Khanh, Cao Le Hoang Minh, Le Khanh Toan
// ID: S3891919, S3979628, S3927152, S3878260, S3932146
 -->
<!-- HEADER -->
<%- include('partials/head') %>
<%- include('partials/banner') %>

    <div class="form-signin w-75 m-auto text-center">
      <form action="/add-product" method="post">
        <img class="mb-4" src="/img/logo.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">ADD A NEW PRODUCT HERE</h1>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="name" placeholder="Product Name" minlength="10" maxlength="20">
          <label for="floatingInput">Product Name</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" name="desc" placeholder="Product Description" maxlength="500" rows="5"></textarea>
          <label for="floatingInput">Product Description</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="category" placeholder="Product Category">
          <label for="floatingInput">Category</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" name="price" placeholder="Product Price" min="1">
          <label for="floatingInput">Price</label>
        </div>
        <div class="form-floating mb-3">
          <input type="file" class="form-control" name="image" placeholder="Image Upload">
          <label for="floatingInput">File Upload</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Create</button>
        <button class="w-100 btn btn-lg btn-primary" type="reset">Clear All</button>
      </form>
    </div>

      <!-- END -->
      <%- include('partials/ending') %>