<%- include("./partials/head") %>
  <section class="vh-100">
    <form action="/vendor-register" method="post">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 pb-0 text-center">
                <div class="form-outline mb-2">
                  <img class="mb-4" src="/img/logo.png" alt="" width="72" height="57">
                  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username" placeholder="name@example.com"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,15}$">
                    <label for="floatingInput">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="realname" placeholder="Enter Your Name" 
                    pattern="^.{5,}$">
                    <label for="floatingPassword">Real Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="address" placeholder="Enter Your Address"
                    pattern="^.{5,}$">
                    <label for="floatingPassword">Address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="role" value="customer" readonly>
                    <label for="floatingInput">Role</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="file" class="form-control" name="image" placeholder="Image Upload" required>
                    <label for="floatingInput">File Upload</label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

                  <hr class="my-4">

                  <button class="w-100 btn btn-lg btn-primary"><a href="/login">Already Have Account,
                      Login ?</a></button>
                  <p class="mt-5 mb-3 text-body-secondary">
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </section>
  <%- include("./partials/ending") %>