<%- include("./partials/head") %>
  <section class="vh-100" style="background-color: white">
    <form action="/vendor-register" method="post">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="form-outline mb-2">
                  <img class="mb-4" src="/img/logo.png" alt="" width="72" height="57">
                  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

                  <div class="form-floating">
                    <input type="text" class="form-control mb-2" name="username" placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control mb-2" name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control mb-2" name="realname" placeholder="Enter Your Business Name">
                    <label for="floatingPassword">Business Name</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control mb-2" name="address" placeholder="Enter Your Address">
                    <label for="floatingPassword">Address</label>
                    <div class="form-floating">
                      <input type="text" class="form-control" name="role" value="vendor" readonly>
                    </div>
                    <div class="form-floating">
                      <input type="file" class="form-control" name="image" placeholder="Image Upload">
                      <label for="floatingInput">File Upload</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                    <hr class="my-4">
                    <button class="w-100 btn btn-lg btn-primary mb-3"><a href="/login">Already Have Account,
                        Login</a></button>
                    <p class="mt-5 mb-3 text-body-secondary">
                  </div>
                </div>
              </div>
            </div>
          </div>
    </form>
  </section>
  <%- include("./partials/ending") %>