<%- include("./partials/head") %>
  <%- include("./partials/navbar") %>
    <main>
      <button class="w-100 btn btn-lg btn-primary"><a href="/products">View All Products</a></button>
      <button class="w-100 btn btn-lg btn-primary"><a href="/product/new">Add New Product</a></button>
    </main>
    <%- include("./partials/ending") %>